@model IList<ProductViewModel>
<head>
    <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
    <h1>Product Information </h1>
    <hr />
@if (TempData["Msg"] != null) {
    <div class="text-info">
        <b>@TempData["Msg"] </b>
    </div>
}
<table class="table" id="ProductTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
               <th scope="col">UnitPrice (MMK)</th>
                <th scope="col">Is Availabe</th>
                <th scope="col">Today Special</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @{
            int index = 1;
        }
        @foreach(var product in Model) {
            <tr>
                <th scope="row">@index</th>
                <td>@product.Code</td>
                <td>@product.Name</td>
                <td>@product.UnitPrice </td>
                <td>@product.IsAvailable</td>
                <td>@product.IsTodaySpecial</td>
                <td>@product.Category.Name</td>
                <td>
                    <a href="/product/edit?Id=@product.Id" class="btn btn-success" role="button">edit</a>
                    <a href="/product/delete?Id=@product.Id" onclick=" return confirm('are you sure to delete this record?');" class="btn btn-danger" role="button">delete</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
    </table>
<script>
    $(document).ready(function () {
        $('#ProductTable').DataTable();
    });
</script>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
}