@model InvoiceViewModel
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="container">
    <h1>Pay for Invoice</h1>
    <hr />
    <form action="/invoice/entry" method="post">
        <div class="mb-3">
            <input type="hidden" name="OrderId" value="@Model.OrderId" /> <!--hidden OrderId value to pay the record -->

            <label class="form-label">Invoice No</label>
            <input class="form-control" type="text" name="No" value="@Model.No" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Order No</label>
            <input class="form-control" type="text" name="OrderNo" value="@Model.OrderNo" required readonly />
        </div>
        <div class="mb-3">
            <label class="form-label">Total Amount</label>
            <input class="form-control" type="number" name="TotalAmount" value="@Model.TotalAmount" required readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Pay for Table No</label>
            <input class="form-control" type="text" value="@Model.TableNo" required readonly />
        </div>
        <div class="mb-3">
            <label class="form-label">Payment With</label>
            <select class="form-control" name="PaymentWith">
                <option value="kpay">KPay</option>
                <option value="ayapay">AYAPay</option>
                <option value="cash">Cash</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Collector Cashier</label>
            <select class="form-control" name="EmployeeId">
                @foreach (var e in ViewBag.Employees) {
                    <option value="@e.Id">@e.Name</option>
                }
            </select>
        </div>
        <input class="btn btn-success" type="submit" value="Pay">
    </form>
</div>
